@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo Sou Guilherme Bampi</h1>
    <p>Meu nome é Guilherme Bampi, estou finalizando o ensino superior, e atualmente realizando o curso de técnico<br/>
        de informática, que estou estudando programação , na instituição de ensino SENAC.<br />
        Tenho conhecimento básico de CSS,HTML,C#,Javascript,PHP e Python
        e estou sempre disposto a ganhar novos aprendizados.
</div>
